<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../assets/css/styles.css">
  <title>Command Runner</title>
</head>
<body>
	<img src="https://media.giphy.com/media/oKVs1VY0MKfvO/giphy.gif" alt="bag-o-sand" height="150">
    <h3>Deploy-o-matic</h3>

    <form method="post" id="form-builder">

		<p><bold>Environment</bold>
		  <select name="environment">
			  <option value="warner-extra-prod">warner-extra-prod</option>
			  <option value="warner-extra-stage">warner-extra-stage</option>
		  </select></p>

		  <p><bold>Service</bold>
		  <select name="service">
			  <option value="owp">owp</option>
			  <option value="rtp">rtp</option>
		  </select></p>











		  <p><button id="submit-button" type="submit" name="submit-button">Submit</button></p>
      </form>

